@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body{
	background-color: #eaeff2;
    font-family: 'Raleway', sans-serif;
}
div.nome_site#logo{
    letter-spacing : 3px;
    font-weight: bold;
}
div#row_pre_menu{
    background-color: #3b3b48;
}
div#pre_menu{
	height: 45px;
    display: flex;
    flex-direction: row;
    background-color: #3b3b48;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
div#row_content_menu{
	background-color: #525262;
}
div#content_menu{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
ul#menu{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #d1d1e4;
    padding: 0;
}
ul#menu a{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    color: #d1d1e4;
}

ul#menu a:hover{
    text-decoration: none;
    color: #fff;
}
ul#menu a li{
    list-style: none;
}
ul#menu a li i{
    margin-right: 7px;
}

table.listar{
    background-color: #f5f8f9;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px solid #dce2e7;
}

button.btn-table{
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 7px;
    color: #797b7b;
    padding: 1px 8px;
    outline: none;
}

a:hover{
    text-decoration: none;
}

div.area{
    margin-top: 20px;
    background-color: #f7f9fa;
    padding: 16px;
}

h1.title-area{
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 16px 0px;
    border-bottom: 1px solid #cec;
    padding-bottom: 4px;
}

div.title-filter{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cec;
}

div.title-filter h1.title-area{
    border-bottom: none;
    margin: 0px;
    padding-bottom: 4px;
}

div.filtro-data label{
    font-weight: normal;
}

div.title-filter input{
    padding: 4px;
    border: 1px solid #dce2e7;
    outline-color: #9fd037;
}

h6.title-area{
    font-size: 14px;
    margin: 0px 0px 16px 0px;
    border-bottom: 1px solid #cec;
    padding-bottom: 4px;
}

.btn-green{
    background-color: #9fd037;
    border: solid 2px #9fd037;
    color: #fff;
    border-radius: 3px;
    padding: 3px 8px;
}

.btn-green:hover{
    background-color: #8fbb32;
    border: solid 2px #8fbb32;
}

.btn-red{
    background-color: #e65858;
    border: solid 2px #e65858;
    color: #fff;
    border-radius: 3px;
    padding: 3px 8px;
}

.btn-red:hover{
    background-color: #cf4f4f;
    border: solid 2px #cf4f4f;
}

div.row.cadastro{
    margin-bottom: 16px;
}

input.cadastro,
select.cadastro{
    width: 100%;
    padding: 4px;
    border: 1px solid #dce2e7;
    outline-color: #9fd037;
}

select.cadastro option:hover{
    background-color: #9fd037;
}

div.alerts{
    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 9999;
    min-width: 20%;
}

label.permissoes{
    font-weight: 400;
    font-size: 13px;
}

.pagination a{
    padding: 8px 13px;
    border: solid 1px #ccc;
    border-radius: 2px;
    margin-right: 2px;
    color: #000;
}

.pagination a:hover{
    background-color: #ccc;
}

.pagination strong{
    padding: 9px 12px;
    background-color: #9fd037;
    border: solid 1px #ccc;
    border-radius: 3px;
    color: #fff;
    margin-right: 2px;
}

.botao_add{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.container-search{
    width: 40%;
}
.container-search form{
    display: flex;
    width: 100%;
}

i.com_permissao{
    margin-right: 5px;
    color: #9fd037;
}

i.sem_permissao{
    margin-right: 5px;
    color: #a92525;
}
.select2-selection.select2-selection--single{
    border: 1px solid #dce2e7;
    outline-color: #9fd037;
    border-radius: 0px;
}
.select2-dropdown.select2-dropdown--below{
    border: 1px solid #dce2e7;  
}
.select2-search__field{
    border: 1px solid #dce2e7;
    outline-color: #9fd037;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #9fd037;
    color: white;
}

.select2.select2-container.select2-container--default.select2-container--below{
    width: 100%;
}

span.text_info{
    font-style: italic;
    color: #a5a5a5;
}

@media screen and (max-width: 992px){

    h6.permissao{
        margin-top: 10px; 
    }

}